
# Docker
# Env
# Go
# IDE
# Node
# OS
# Python
*.exe
*.out
*.pyc
*.pyo
*.swo
*.swp
*.test
.DS_Store
.env
.env.local
.idea/
.venv/
.vite/
.vscode/
Thumbs.db
__pycache__/
dist/
docker/data/
node_modules/
seed/data/manifest.json
server-bin
server/bin/
server/server
vendor/
venv/
